# Target class for this configuration
_target_: gerl.workers.config.DiffusionRolloutConfig

# actor_rollout_ref.rollout.name: diffusers. The default value will be removed in the future
name: ???

# sync: LLM, async: AsyncLLM
mode: sync

# typically the same as data max prompt length
# same as data.max_prompt_length if it exists
prompt_length: ${oc.select:data.max_prompt_length,128}

# image height
image_height: 512

# image width
image_width: 512

# batch size for rollout (for diffusers)
rollout_batch_size: 8

# inference steps
num_inference_steps: 10

# noise in SDE
noise_level: 0.7

# guidance scale for classifier-free guidance
guidance_scale: 4.5

# SDE type during rollout
sde_type: "sde"

# SDE window size
sde_window_size: null

# SDE window range
sde_window_range: null

# for diffusers rollout
# Rollout model parameters type. Align with actor model's FSDP/Megatron type.
dtype: bfloat16

# TP size for rollout
tensor_model_parallel_size: 1

# DP size for rollout
data_parallel_size: 1

# CP size for rollout
context_parallel_size: 1

# number of responses (i.e. num sample times). > 1 for grpo
n: 8

# Sampling parameters used during validation.
val_kwargs:

  # whether to repeat n times for validation
  n: 1

  # noise level during validation
  noise_level: 0.0

  # inference steps during validation
  num_inference_steps: 40

  # seed for noise initialization and stochasticity
  seed: 42
